html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-grey: #e8e8e8;
  --color-grey-darker: #888;
  --color-active: #00B686;
  --color-transparent: #ffffffaa;
  --color-background: #F2FBF9;
  --color-background-darker: #e7efee;
}

.spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}